<form action="index.php" method="POST">
  <label class="form_label">Серія картки:<input type="text" name="serch_series" size="10" class="form_edit"></label><br>
  <label class="form_label">Номер картки:<input type="text" name="serch_number" size="20" class="form_edit"></label><br>
  <label class="form_label">Дата заведення:<input type="text" name="serch_issuance_date" size="20" class="form_edit"></label><br>
  <label class="form_label">Дата закінчення:<input type="text" name="serch_expiration_date" size="20" class="form_edit"></label><br>
  <label class="form_label">Статус:<input type="text" name="serch_status" size="20" class="form_edit"></label><br>
  <input type="submit" name="search_button" value="Шукати картку" class="form_button">
</form>